[submodule "matplotlib-cpp"]
	path = matplotlib-cpp
	url = git@github.com:lava/matplotlib-cpp.git
[submodule "pybind"]
	path = pybind
	url = https://github.com/pybind/pybind11.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
